/*variables*/


$color-font: #BF366A;
$fuente-titulos: 'Montserrat', sans-serif;
$fuente-parrafos: 'Varela Round', sans-serif;
$fondo-blanco:#ffd6dc;
$fondo-rosa:  #ff99a8;

@mixin size($ancho, $alto) {
  max-width: $ancho;
  height: $alto;  
}

@mixin padding($izq, $der) {
  padding-left: $izq;
  padding-right: $der;
}

body
{
    background-color: $fondo-blanco;
    color:$color-font;
    // font-family: $fuente-titulos;
    margin: 0;
    max-width: 100%;
 
}

h1
{
    font-weight: 700px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    font-family: $fuente-titulos;
    font-size: 2em;
}

h2
{
    text-transform: uppercase;
    font-weight: 500px;
    text-align: center;
    font-family: $fuente-titulos;
    
}


h3 + h4 + h5 {
  font-family: $fuente-parrafos;

}


a
{
    text-decoration: none;
    font-weight: 300px;
}


li
{
  list-style: none;  
}

p {
  font-family: $fuente-parrafos;
  font-weight: 400px;
}


/*Arreglo para el header*/


.navegacion {
   
  color:wheat;
  background-color: $color-font;

    li a {
        display: flex;
        justify-content: flex-start;
        padding: 16px 8px;
        text-decoration: none;
        color: ivory;
        margin-inline-end: 55px;
    }
        :hover{
            font-weight: bolder;
        }
  
}


.bordeBlanco  {
  background-color: $fondo-rosa;

}

.bordeRosa  {
  background-color: $fondo-blanco;
  
}

.hero{
  img{
    object-fit: cover;
    overflow: hidden;

    
  };
}

.intro {
    img {
        padding-right: 30px;
        animation: rotar 2s infinite;
    }

}




@keyframes rotar {
  0%{
  }

  50% {
    transform: rotate(-6deg) ;
  }

  100% {

  }
}



.slider  {
  grid-area: slider;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    padding-left: 10px;
  }


}


.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.bordeCardIntro {
  @extend .bordeRosa;

  border: 10px solid ivory;
}


/* comofunciona.html*/

.rotate {
  img  {
    transform: rotate(-7deg)
  }
}

.bordeCard {
  @extend .bordeBlanco;

  border-top: 20px solid ivory;
  border-left: 20px solid ivory;
  border-right: 20px solid ivory;
  border-bottom: 80px solid ivory;
  
}


/* adopcion.html*/


.adopcion img {
  object-fit: cover;
  overflow: visible;

  border: 5px solid ivory;
  border-radius: 5%;

  @include size(300px, 300px)
}




/* quienessomos.html*/

.quienesSomos {
  @extend .adopcion;

  img {
    @include size(auto, 500px)
   
  }
}

.cajaSomosIzq {
  @include padding(10rem, 3rem)

}

.cajaSomosDer {
  @include padding(3rem, 10rem)
}




/* involucrate.html*/


.title{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 24px;
    color: #3c2e5a;
  }


/* Centrado */
  .wrapper {
    width: 80%;
    height: 50%;
    margin: 5% auto 5% auto;

  }

/* Animacion de form */
  .form {
    background: #EBEBEB;
    text-align: center; 
    box-shadow: 0px 0px 20px 5px #AAA; 
    border-radius: 10px;  
    width: 45%; 
    height: 600px;
    margin: 30px auto 0 auto;
    padding: 10px 10px;  
  }

.name { 
    background-color: #f5697c;
    border-bottom: 5px solid #B2175F;
    color: white;
    width:300px;
    margin: 5px;
  }

  ::-webkit-input-placeholder{
      color: white;
      font-size: 20px;
  }
  .name:hover{
    background-color: #f5697c;
    border-bottom: 5px solid #f5697c;
    height:30px;
    width:400px;
  }

  .email {
    background-color: #f5697c;  
    border-bottom: 5px solid #f5697c;
    color: white;
    height:50px;
    width:300px;
    margin: 5px;
    
  }
  
  .email:hover{
    background-color: #f5697c;  
    border-bottom: 5px solid #f5697c;
    height:30px;
    width:380px;
   
  }

  .message {   
    background-color: #f5697c;
    border-bottom: 5px solid rgb(195, 35, 17);
    overflow: hidden;
    height: 100px;  
    width:300px;
    color: white;

  }

  .message:hover{
    background-color: #f5697c;
    border-bottom: 5px solid #f5697c;
    height: 100px;
    width:400px;
  }



  .submit{
    border-radius:5px;
    padding:10px;
    background-color: #f5697c;  
    border: none;
    border-bottom: 5px solid #CB64B2; 
    transform: translateY(-120px);

  }

  .submit:hover{
    border-bottom: 5px solid #CB64B2;  
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  }    



  .entry{
    display: block;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 25px 2px #AAA;  
  }

  /* titulo */
  .tituloForm{

    animation: titulo 3s infinite;

  }
.submit{
    border-radius:5px;
    padding:10px;
    width:150px;
    color: white;
    background-color: #EE78D1;  
    border: none;
    border-bottom: 5px solid #CB64B2; 
    margin-top: 150px; 

  }



  @keyframes titulo{
    0%{
      transform: rotate(5deg);
    }
    50%{

      transform: rotate(-5deg);
    }
    100%{
      transform: rotate(5deg);
    }
  }

  @media (max-width: 768px) {
    body {
      h3{
        font-size: 1.2em;
      }
      .img-fluid-modificado {
        @include size(10em, 10em) 
      }
      .card-horizontal {
        flex: auto;
      }
    }
  }

